*{
  box-sizing:border-box ;

}
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FAFAF8;

}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:11px;
  background-color: white;
  
  height: 80px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
header > img{
  width: 70px;
  

}
header > h1{
  font-style: oblique;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

}
main >form >input{
  min-width: 300px;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: large;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
}
main >form >button{
  margin-left:15px ;
  height: 30px;
  border-radius: 10px;
  font-size: 14px;
  background-color: black;
  color: white;



}
.get-recipe-container{
  background-color:aliceblue ;
  width:60%;
  height:150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin-top:20px;
  border-radius:50px;
  
  
}
.get-recipe-container button {
background-color:black;
font-size: 12px;
border-radius: 10px;
color: #FAFAF8;
}
fieldset{
  margin: 30px;
}

