#quote-box{
    height: 250px;
    width: 450px;
    background-color:aquamarine;
    margin: auto;
    text-align: center;
    margin-top:35%;
    border-radius: 30px;
    

}
#box{
    height: 170px;
    width: 100%;
    
}
#box #text{
    padding-top: 35px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

}
#box #author{
    padding-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
footer{

    display: flex;
    justify-content: space-between;
    
    
    align-items: center;
    padding: 10px;



}
footer button{
    font-size: large;
    height: 40px;
    background-color: bisque;
    border-radius: 10px;
    font-weight: bold;
    border:3px dotted black;
    
   


}

footer a{
    margin: 10px;
    
}


